<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}AMA App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--
    <link rel="stylesheet" href="https://d1gv3eajsppg20.cloudfront.net/static/css/app.07bdeb85.css">
    <link rel="stylesheet" href="https://d1gv3eajsppg20.cloudfront.net/static/css/chunk-vendors.58f84f24.css">
-->
    <script>
    </script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">AMA - Feb 11th 13 UTC</a>
<!--        <a href="#">About</a>    -->
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>