{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} BSC Functions {% endblock %}</h3>
    <p></p>
    <button class="enableEthereumButton" id="enableEthereumButton">Enable MetaMask</button>
    <p></p>
    <button class="getCurrentBlock" id="getCurrentBlock">Get Current BSC Block</button>
    <p></p>
    <button class="bnxBalance" id="bnxBalance">Get BNX Balance</button>
    <p></p>
    <button class="alfaceBalance" id="alfaceBalance">Get Alface Balance</button>    
    <p></p>
    <button class="diamondBalance" id="diamondBalance">Get Diamond Balance</button>
    <p></p>
    <button class="diamondMint" id="diamondMint">Mint Diamond To Address: Contract: 0x5f16128A0A10fF02AB645A81d9E6589D1c599850</button>
    <p></p>
    Address: <input class="mintDiamondToAddress" id="mintDiamondToAddress"><br>
    Amount: <input class="mintDiamondAmount" id="mintDiamondAmount"><br>
    <script>
        var usedLaterScript = document.createElement('script');
        usedLaterScript.src = '/static/functions.js';
        document.body.appendChild(usedLaterScript);
    </script>
    <script>
        var usedLaterScript = document.createElement('script');
        usedLaterScript.src = '/static/bundle.js';
        document.body.appendChild(usedLaterScript);
    </script>   
{% endblock %}
