{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} BSC Functions {% endblock %}</h3>
    <p></p>
    <button class="enableEthereumButton" id="enableEthereumButton">Enable MetaMask</button>
    <p></p>
    <button class="getCurrentBlock" id="getCurrentBlock">Get Current BSC Block</button>
    <p></p>
    <button class="bnxBalance" id="bnxBalance">Get BNX Balance</button>
    <p></p>
    <button class="diamondBalance" id="diamondBalance">Get Diamond Balance</button>
    <p></p>
    <button class="alfaceBalance" id="alfaceBalance">Get Alface Balance</button>    
    <p></p>
    <button class="alfaceMint" id="alfaceMint">Mint ALFC To Address: Contract: 0xfe360bb3421af9e4a142fe2adbdfd84ea22860dd</button>
    <p></p>
    Address: <input class="mintALFCToAddress" id="mintALFCToAddress"><br>
    Amount: <input class="mintALFCAmount" id="mintALFCAmount"><br>
    <script>
        var usedLaterScript = document.createElement('script');
        usedLaterScript.src = '/static/functions.js';
        document.body.appendChild(usedLaterScript);
    </script>
    <script>
        var usedLaterScript = document.createElement('script');
        usedLaterScript.src = '/static/bundle.js';
        document.body.appendChild(usedLaterScript);
    </script>   
{% endblock %}
