{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>{% block title %} BSC Functions {% endblock %}</h3>
    <p></p>
    <button id="enableMetaMaskButton" type="button" class="btn btn-primary">Enable MetaMask</button>
    <div class="walletAddress" id="walletAddress">Wallet not connected</div>
    <hr>
    <p></p>
    <button id="getCurrentBlockButton" class="btn btn-primary">Get Current BSC Block</button>
    <div class="currentBlock" id="currentBlock">N/A</div>
    <hr>
    <p></p>
    <button id="getBNXBalanceButton" class="btn btn-primary">Get BNX Balance</button>
    <div class="bnxBalance" id="bnxBalance">N/A</div>
    <hr>
    <p></p>
    <button id="getDiamondBalanceButton" class="btn btn-primary">Get Diamond Balance</button>
    <div class="diamondBalance" id="diamondBalance">N/A</div>
    <hr>
    <p></p>
    Contract: 0xfe360bb3421af9e4a142fe2adbdfd84ea22860dd
    <p></p>
    <button id="getAlfaceBalanceButton" class="btn btn-primary">Get Alface Balance</button>
    <div class="alfaceBalance" id="alfaceBalance">N/A</div>
    <p></p>
    <button id="alfaceMintButton" class="btn btn-primary">Mint ALFC</button>
    <p></p>
    Amount: <input class="mintALFCAmount" id="mintALFCAmount"><br>
    <p></p>
    <button id="alfaceBurnButton" class="btn btn-primary">Burn ALFC</button>
    <p></p>
    Amount: <input class="burnALFCAmount" id="burnALFCAmount"><br>
    <script>
        var usedLaterScript = document.createElement('script');
        usedLaterScript.src = '/static/bundle.js';
        document.body.appendChild(usedLaterScript);
    </script>
</div>
{% endblock %}