{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} Questions {% endblock %}</h3>
    {% for question in questions %}
        <blockquote class="blockquote">
        <div class='questions' class="mb-0">
            <hr>
            <p>From user: <strong>{{ question['user'] }}</strong></p>
            <p>{{ question['question'] }}</p>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Answer
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
              Delete
            </button>
            <!-- The Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Question from: {{ question['user'] }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
            
                  <!-- Modal body -->
                  <div class="modal-body">
                    {{ question['question'] }}
                  <form>
                      <label for="answer" class="col-form-label">Answer</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Answer</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
            
                </div>
              </div>
            </div>
        </blockquote>
    {% endfor %}
{% endblock %}
