{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('vote_main') }}" method=post>
    <div class="container">
        <h3>{% block title %} BSC Functions {% endblock %}</h3>
        <p></p>
        <button id="enableMetaMaskButton" type="button" class="btn btn-primary">Enable MetaMask</button>
        <div class="walletAddress" id="walletAddress">Wallet not connected</div>
        <hr>

        <div class="form-check">
            {% for volunteer in volunteers %}

            <input class="form-check-input" type="checkbox" value="{{ volunteer['name'] }}" id="{{ volunteer['name'] }}" name="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
                {{ volunteer['name'] }} {{ volunteer['votes'] }} 
            </label>
            <br>
            {% endfor %}
        </div>

        <input type="submit" name="submit" value="Vote" class="btn btn-primary"/><br>
        <script>
            var usedLaterScript = document.createElement('script');
            usedLaterScript.src = '/static/bundle.js';
            document.body.appendChild(usedLaterScript);
        </script>
    </div>
    
</form>
{% endblock %}